<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <meta name="description" content="CMSScan">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/jquery.growl.css"/>
  <link rel="stylesheet" href="/static/css/jquery-confirm.min.css"/>

  <script src="/static/js/jquery.min.js" type="text/javascript"></script>
  <script src="/static/js/cmsscan.js" type="text/javascript"></script>
  <script src="/static/js/jquery.growl.js" type="text/javascript"></script>
</head>
<body>

<section id="menu-0">

        <nav class="navbar-lg navbar-fixed-top">
            <div class="container">

                <div class="navbar-header"><a href="/" class="navbar-brand brand">CMSscan</a></div>
            </div>
        </nav>

</section>

{% block content %}
{% endblock %}

<section class="mbr-section--bg-adapted mbr-section--relative" id="footer1-86" style="background-color: rgb(17, 17, 17);">
    <div class="footer-copy">
        
        <div class="container"> <p> <h6><a href="/">Home</a> | <a href="/scans">Scans</a> </h6></p>© 2018. Ajin Abraham. <a href="https://opensecurity.in">OPENSECURITY.IN</a>. All rights reserved.</div>
    </div>
</section>
  <script src="/static/js/bootstrap.min.js"></script>
</body></html>